<!--
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container">
<br>
<div class="card bg-dark">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Create Account</h4>
	<p>
		<a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
		<a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
	</p>
	<p class="divider-text">
        <span class="bg-dark">OR</span>
    </p>
	<form>
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="" class="form-control" placeholder="Name" type="text">
    </div>
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="" class="form-control" placeholder="Email address" type="email">
    </div>
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input class="form-control" placeholder="Create password" type="password">
    </div>
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input class="form-control" placeholder="Repeat password" type="password">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
    </div>
    <p class="text-center">Have an account? <a [routerLink]="['/signin']">Log In</a> </p>
</form>
</article>
</div>
</div> -->

<div class="container">
<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <form class="col s12 white" #userRegistrationForm="ngForm">
        <br>
        <div class="row">
          <div class="input-field col s6">
            <p>Name</p>
            <!-- <label data-error="Required field!">UserName</label> -->
            <input class="validate" type="text" name="UserName" #UserName="ngModel" [(ngModel)]="user.UserName" required (change)="ClickedName($event)">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <p>Email</p>
            <input class="validate" type="text" name="Email" #Email="ngModel" [(ngModel)]="user.Email" [pattern]="emailPattern" (change)="ClickedEmail($event)">
            <!-- <label data-error="Invalid email!">Email</label> -->
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <p>Password</p>
            <input class="validate" type="password" name="Password" #Password="ngModel" [(ngModel)]="user.Password" required  minlength="3" (change)="ClickedPassword($event)">
            <!-- <label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field!':'Minimum 3 characters needed'):''">Password</label> -->
          </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
              <button [disabled]="!userRegistrationForm.valid" class="btn-large btn-submit" type="submit" (click)="Submit($event)">Submit</button>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
</div>

<!-- <app-show-user></app-show-user> -->
