.main{
    margin-top: 70px;
    margin-left: 90px;
    margin-bottom: 110px;
    // background-color: #363b4e;
}
.col3{
    width: 30%;
    float: left;
    margin: 10px;
}

.example-form-filed{
  margin-right: 20px;
}
